@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    height: 100vh;
    background-color: #1FA1B8;
}

.container-fluid:first-of-type {
    position: fixed;
}

img:hover {
   cursor: default;
}

#logo {
    margin-left: 30px;
}

#header {
    flex-wrap: nowrap;
    background-color: #1fa1b8d3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin-right: 25px;
}

li {
    list-style: none;
    margin-right: 120px;
    font-family: 'Teko', sans-serif;
    font-size: 32px;
    margin: 0 auto;
    transition: 280ms linear;
    color:rgb(0, 0, 0);
}

li:hover {
    color:#79FF7A;
    text-shadow: 3px 3px #065664;
    cursor: pointer;
}

a:first-of-type {
    text-decoration: none;
    color: inherit;
}

#topbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#banner {
    flex-wrap: wrap;
    padding-top: 95px;
}

.container-fluid:nth-of-type(2) {
    height: 300px;
}

#turn-blue {
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    display: block;
    height: 192px;
}

#name {
    padding-top: 10px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(177, 177, 177));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner p {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

#banner p:first-of-type {
    margin-bottom: 0;
    margin-top: 17px;
    font-size: 30px;
}

#links {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(177, 177, 177));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fet {
    text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(177, 177, 177));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}

#bet {
    text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(177, 177, 177));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}


main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    background-color: #1FA1B8;
}

#main-heading {
    display: none;
    padding-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#main-heading h3 {
    font-family: 'Fjalla One', sans-serif;
    color: whitesmoke;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0px;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
}

#iconlist {
    margin-bottom: 53px;
}

#jslogo:hover {
    cursor: default;
}

#linkedin {
    margin: 0 auto;
}

#linkedin:hover {
    cursor: pointer;
}

#github {
    margin: 0 auto;
}

#github:hover {
    cursor: pointer;
}

#menu-icon {
    display: none;
}

#about-heading {
    display: none;
    text-align: center;
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

#about {
    font-family: 'Fjalla One', sans-serif;
    color: whitesmoke;
    padding: 7px;
}

#contact-heading {
    display: none;
    text-align: center;
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

#contact {
    font-family: 'Fjalla One', sans-serif;
    color: whitesmoke;
    padding: 7px;
}

#contact-row {
    padding-bottom: 5px;
}

#tools {
    padding-top: 23px;
    padding-bottom: 20px;
    display: none;
}

.modals {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 500px;
    max-width: 80%;
    z-index: 10;   
}

.close-button {
    color: white;
}

.modals.active {
    transform: translate(-50%, -50%) scale(1);
}

.modals-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modals-header .title {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.modals-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25 rem;    
    font-weight: bold;
}

.modals-body {
    text-align: center;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

form {
    border: 3px groove darkblue;
    background-color: #1FA1B8;
    margin: 0 auto;
    max-width: 700px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}

form label {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 2px;
    font-size: 18px;
    padding-bottom: 2px;
}

form input {
    margin-bottom: 12px;
    outline: none;
    width: 220px;
}

#formMessage {
    width: 100%;
    height: 145px;
    outline: none;
    resize: none;
    border-radius: 3px;
}

#btn {
    text-align: right;
}

#send-email {
    padding: 3px 7px 3px 7px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(29, 117, 108);
    margin-right: 10px;
}


@media screen and (min-width: 1243px) {
    #banner {
        height: 200px
    }
}


/* Tablet */
@media screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        display: none;
    }
    
    #menu-icon {
        display: block;
    }

    li {
        color: white;
    }
}

@media screen and (max-width: 414px) {
    #turn-blue {
        height: 217px;
    }
    #main-heading {
        display: block;
    }
    #full-stack {
        width: 315px;
    }
}
